---
layout: layouts/base.njk
title: All tags
eleventyExcludeFromCollections: true
---
<div class="window m-2">
	<div class="title-bar">
		<div class="title-bar-text">
			{{ renderData.title or title or metadata.title }}
		</div>
		<div class="title-bar-controls">
			<form class="inline" method="get" action="/">
				<button aria-label="Close" role="submit" title="Return to homepage"></button>
			</form>
		</div>
	</div>
	<div class="window-body">
		{% if collections|length > 0 %}
			<ul>
				{% for tag, posts in collections %}
					{% if tag != "all" and tag != "nav" and tag != "authors" %}
						<li><a href="/tags/{{ tag | slug }}/">{{ tag }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		{% else %}
			No tags
		{% endif %}
	</div>
</div>
