@tailwind base;
@tailwind components;
@tailwind utilities;
$kpop-pink: #ca9cb9;
$dark-kpop-pink: #cd6ea8;
$kpop-bluey: #94d0ff;
body {
	font-size: 11px;
	font-family: "Pixelated MS Sans Serif",Arial;
}
.background-kpop-pink {
	background-color: $kpop-pink;
}
@keyframes flicker{
	$steps:20;
	@for $i from 0 through $steps{
		#{percentage($i*(1/$steps))}{
			opacity:random();
		}
	}
}
.zoom {
	zoom: 2; 
	-moz-transform: scale(2); 
	-moz-transform-origin: 0 0;
}
.page::after {
	content: " ";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(18, 16, 16, 0.02);
	opacity: 0;
	z-index: 2;
	pointer-events: none;
	animation: flicker 0.1s infinite;
}
.page::before {
	content: " ";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.12) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.01), rgba(0, 0, 255, 0.06));
	z-index: 2;
	background-size: 100% 4px, 6px 100%;
	pointer-events: none;
}
.title-bar-text {
	pointer-events: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.title-bar {
	background: linear-gradient(90deg, #{$dark-kpop-pink}, #{$kpop-bluey});
}
.window, button {
	background-color: white;
}
a {
	color: initial; 
}
a:focus {
	outline: 1px dotted black;
}
img, video {
	display: inline-block;
	max-width: none;
}
.sidebar-icon-text {
	@apply text-center font-bold tracking-normal text-black -mt-1;
}
.window {
	@apply mx-auto;
}
.search-result span:first-child {
	@apply font-bold;
}
.search-result span:first-child::after {
	content: ":";
	@apply font-bold mr-1;
}
.window, .window * {
	@apply max-w-full
}
