<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<script>
			if(window.netlifyIdentity) {
				window.netlifyIdentity.on("init", function(user) {
					if(!user) {
						window.netlifyIdentity.on("login", function() {
							document.location.href = "/admin/";
						});
					}
				});
			}
		</script>
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=0.5">
		<meta name="description" content="{{ renderData.description or description or metadata.description }}">
		<meta name="generator" content="Eleventy">
		<title>{{ renderData.title or title or metadata.title }}</title>
		<link rel="stylesheet" href="/styles/98.css">
		<link rel="stylesheet" href="/styles/index.css">
	</head>
	<body id="top" itemscope itemtype="http://schema.org/WebPage" class="bg-black zoom flex flex-row" style="width:50vw;height:50vh;">
		<div class="background-kpop-pink page m-auto rounded-lg overflow-hidden flex" style="width:50vw;height:50vh;max-width:640px;max-height:480px;">
			<div class="inner-page p-4 w-full min-w-0 overflow-x-hidden overflow-y-scroll">
				<div class="flex flex-row min-w-0">
					<div class="flex flex-col m-2 inline-block text-center">
						{%- include "./sidebar.njk" -%}
					</div>
					<div class="flex-shrink flex-grow min-w-0 flex flex-col">
						{{ content|safe }}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
