---
layout: layouts/base.njk
---
<div class="window m-2 mx-auto">
	<div class="title-bar">
		<div class="title-bar-text">
			{{ renderData.title or title or metadata.title }}
		</div>
	</div>
	<div class="window-body">
		{{ content|safe }}
	</div>
</div>
