---
layout: layouts/base.njk
---
<div class="window m-2 mx-auto">
	<div class="title-bar">
		<div class="title-bar-text">
			{{ renderData.title or title or metadata.title }}
		</div>
		<div class="title-bar-controls">
			<form class="inline" method="get" action="/">
				<button aria-label="Close" role="submit" title="Return to homepage"></button>
			</form>
		</div>
	</div>
	<div class="window-body">
		<div class="italic">
			{% if author %}
				Posted by <a href="/authors/{{ author|slug }}/">{{ author }}</a>
			{% endif %}
			{% if date %}
				on {{ post.date|strftime("%x") }}
			{% endif %}
		</div>
		<div class="post">
			{{ content|safe }}
		</div>
		<div class="font-bold">
			{% if tags|length > 0 %}
				Tags:
				{% for tag in tags %}
					<a href="/tags/{{ tag|slug }}/">{{ tag }}</a>
					{%- if not loop.last -%}
						,
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
