<a href="/" alt="Homepage" title="Homepage">
	<img class="my-2 mx-auto" src="/images/icons/computer_explorer-4.png" alt="Computer icon"/>
	<div class="sidebar-icon-text">Homepage</div>
</a>
<a href="{{ (collections.all|last).url|url }}" alt="Most recent post" title="Most recent post ({{ (collections.all|last).data.title }})">
	<img class="my-2 mx-auto" src="/images/icons/notepad_file-2.png" alt="Notepad icon"/>
	<div class="sidebar-icon-text">Most recent post</div>
</a>
<a href="/posts/" alt="All posts" title="All posts">
	<img class="my-2 mx-auto" src="/images/icons/directory_closed-4.png" alt="Folder icon"/>
	<div class="sidebar-icon-text">All posts</div>
</a>
<a href="/search/" alt="Search posts" title="Search posts">
	<img class="my-2 mx-auto" src="/images/icons/directory_explorer-0.png" alt="Folder search icon"/>
	<div class="sidebar-icon-text">Search posts</div>
</a>
<a href="/tags/" alt="Browse tags" title="Browse tags">
	<img class="my-2 mx-auto" src="/images/icons/desktop-2.png" alt="Desktop icon"/>
	<div class="sidebar-icon-text">Browse tags</div>
</a>
