---
layout: layouts/base.njk
title: All authors
eleventyExcludeFromCollections: true
---
<div class="window m-2">
	<div class="title-bar">
		<div class="title-bar-text">
			{{ renderData.title or title or metadata.title }}
		</div>
		<div class="title-bar-controls">
			<form class="inline" method="get" action="/">
				<button aria-label="Close" role="submit" title="Return to homepage"></button>
			</form>
		</div>
	</div>
	<div class="window-body">
		{% if collections.authors|length > 0 %}
			<ul>
				{% for author in collections.authors %}
					<li><a href="/author/{{ author | slug }}/">{{ author }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			No authors
		{% endif %}
	</div>
</div>
