---
layout: layouts/base.njk
title: All posts
eleventyExcludeFromCollections: true
---
{% for post in collections.all|reverse %}
	<div class="window m-2">
		<div class="title-bar">
			<div class="title-bar-text">
				{{ post.data.title }}
			</div>
			<div class="title-bar-controls">
				<form class="inline" method="get" action="/">
					<button aria-label="Close" role="submit" title="Return to homepage"></button>
				</form>
			</div>
		</div>
		<div class="window-body">
			<div class="italic">
				Posted
				{% if post.data.author %}
					by <a href="/authors/{{ post.data.author|slug }}/">{{ author }}</a>
				{% endif %}
				{% if post.data.date %}
					on {{ post.date|strftime("%x") }}
				{% endif %}
			</div>
			<p>
				{{ post.templateContent|safe|striptags|truncate(128) }}
			</p>
			<div class="font-bold">
				{% if post.data.tags|length > 0 %}
					Tags:
					{% for tag in post.data.tags %}
						<a href="/tags/{{ tag|slug }}/">{{ tag }}</a>
						{%- if not loop.last -%}
							,
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
			<form class="block text-center" method="get" action="{{ post.url }}">
				<button class="m-auto mt-2" title="Read post">Read</button>
			</form>
		</div>
	</div>
{% endfor %}
