---
layout: layouts/base.njk
eleventyExcludeFromCollections: true
---
<div class="window m-2">
	<div class="title-bar">
		<div class="title-bar-text">
			{{ renderData.title or title or metadata.title }}
		</div>
		<div class="title-bar-controls">
			<form class="inline" method="get" action="/">
				<button aria-label="Close" role="submit" title="Return to homepage"></button>
			</form>
		</div>
	</div>
	<div class="window-body">
		<div class="hidden mt-2 mr-2 ml-2" id="search">
			<ul>
				<li class="flex relative">
					<label for="search-input">Search:</label>
					<input type="text" placeholder="Search" id="search-input" value="" autocomplete="off"/>
				</li>
				<div id="search-results" class="hidden -mt-px">
					<a>
						<div class="search-result">
							<span></span>
						</div>
					</a>
				</div>
			</ul>
		</div>
	</div>
</div>
{%- for js in encore.index.js -%}
	<script src="{{ js }}"></script>
{%- endfor -%}
